<div>
    {{addForm.size.label(class_="form-label")}}
    {{addForm.size(class_="form-control cupcake-size")}}
    <span class="text-danger">
        {% for error in addForm.size.errors %}
            {{error}}
        {% endfor %}
    </span>
</div>

<div>
    {{addForm.rating.label(class_="form-label")}}
    {{addForm.rating(class_="form-control cupcake-rating")}}
    <span class="text-danger">
        {% for error in addForm.rating.errors %}
            {{error}}
        {% endfor %}
    </span>    
</div>