{% extends 'base.html' %}

{% block title %}Cupcake Company{% endblock %}

{% block content %}
<h1 class="m-2">Cupcake Company</h1>

<div class="container my-5">
    <form id="search-cupcake-form">
            <input type="text" name="search" class="cupcake-search" style="width: 500px">
        <button class="btn search-cupcake-button fs-3">Search</button>
    </form>
</div>


<div class="container my-5">
    <ul id="cupcake-list" class="list-group">
    </ul>
</div>

<div class="container my-5">
    <form id="add-cupcake-form">
            <label for="flavor" class="form-label">Flavor
                <input type="text" name="flavor" class="form-control cupcake-flavor">
            </label>
            <label for="size" class="form-label">Size
                <input type="text" name="size" class="form-control cupcake-size">
            </label>
            <label for="rating" class="form-label">Rating
                <input type="text" name="rating" class="form-control cupcake-rating">
            </label>
            <label for="image" class="form-label">Image URL
                <input type="text" name="image" class="form-control cupcake-image">
            </label>
        <button class="btn btn-primary add-cupcake-button">Add Cupcake</button>
    </form>
</div>
{% endblock %}