{% extends 'base.html' %}

{% block title %}Cupcake Company{% endblock %}

{% block content %}

<div class="row my-5 justify-content-evenly">
    <form id="search-cupcake-form" class="col-5">
            <label for="search" class="fs-3">Search:
                <input type="text" name="search" class="cupcake-search" style="width: 500px">
            </label>
    </form>
    <a href="/ingredients" class="col-1 btn btn-secondary">Ingredients</a>
</div>

<div class="container my-5">
    <ul id="cupcake-list" class="list-group list-unstyled">
    </ul>
</div>

<div class="container my-5">
<h3 id="cupcake_form">Cupcake Form</h3>
    <form id="add-cupcake-form">
        {{form.hidden_tag()}}
        <div hidden>
            {{form.id(class_="cupcake-id")}}
        </div>
        <div>
            {{form.flavor.label(class_="form-label")}}
            {{form.flavor(class_="form-control cupcake-flavor")}}
            <span class="text-danger">
                {% for error in form.flavor.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        <div>
            {{form.image.label(class_="form-label")}}
            {{form.image(class_="form-control cupcake-image")}}
            <span class="text-danger">
                {% for error in form.image.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        <div>
            {{form.size.label(class_="form-label")}}
            {{form.size(class_="form-control cupcake-size")}}
            <span class="text-danger">
                {% for error in form.size.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        
        <div>
            {{form.rating.label(class_="form-label")}}
            {{form.rating(class_="form-control cupcake-rating")}}
            <span class="text-danger">
                {% for error in form.rating.errors %}
                    {{error}}
                {% endfor %}
            </span>    
        </div>
        <div>
            {{form.ingredients.label(class_="form-label")}}
            {{form.ingredients(class_="form-select cupcake-ingredients", multiple="multiple", size=15)}}
            <span class="text-danger">
                {% for error in form.ingredients.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        <button class="col btn btn-primary add-cupcake-button">Submit</button>
    </form>
</div>

{% endblock %}