{% extends 'base.html' %}

{% block title %}Cupcake Company{% endblock %}

{% block content %}

<div class="row my-5 justify-content-evenly">
    <form id="search-cupcake-form" class="col-5">
            <label for="search" class="fs-3">Search:
                <input type="text" name="search" class="cupcake-search" style="width: 500px">
            </label>
    </form>
    <a href="/ingredients" class="col-1 btn btn-secondary">Ingredients</a>
</div>

<div class="container my-5">
    <ul id="cupcake-list" class="list-group list-unstyled">
    </ul>
</div>

<div class="container my-5">
<h3>New Cupcake Form</h3>
    <form id="add-cupcake-form">
        {{addForm.hidden_tag()}}
        <div>
            {{addForm.flavor.label(class_="form-label")}}
            {{addForm.flavor(class_="form-control cupcake-flavor")}}
            <span class="text-danger">
                {% for error in addForm.flavor.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        <div>
            {{addForm.image.label(class_="form-label")}}
            {{addForm.image(class_="form-control cupcake-image")}}
            <span class="text-danger">
                {% for error in addForm.image.errors %}
                    {{error}}
                {% endfor %}
            </span>
        </div>
        {% include 'form_template.html' %}
        <button class="col btn btn-primary add-cupcake-button">Add Cupcake</button>
    </form>
</div>

{% endblock %}